NEXT_PUBLIC_API_URL=http://localhost:3001/api
NEXT_PUBLIC_ETH_RPC=https://eth.public.io
NEXT_PUBLIC_POLYGON_RPC=https://polygon-rpc.com
NEXT_PUBLIC_ARB_RPC=https://arb1.arbitrum.io/rpc
NEXT_PUBLIC_BASE_RPC=https://mainnet.base.org
